.findrate-bg{
	background: url(../images/40.jpeg) no-repeat;
	text-align: center;
	padding: 27px 0;
	a{
		position: relative;
		display: inline-block;
		background: #fff;
		padding: 15px 30px;
		font: 20px/1 $font1;
		text-align: center;
		color: #273945;
		text-transform: uppercase;
		border-radius: 10px;
	}
}